#test files
*_test.py

#old files
*_old.py

#no pyc
*.pyc
__pycache__

#ignore the html for now

 *.html

#ignore all test .png and .jpg files

#*.jpg
#*.png

#ignore GC file types

*.gc

# ignore main for now

main.py
